/*
################ Global styles ################
*/
body {
    background-color: #C9C9C9;
}

/*
################ Formated styles ################
*/
.center{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.opacity-0{
    opacity: 0.0;
}
.opacity-10{
    opacity: 0.1;
}
.opacity-20{
    opacity: 0.2;
}
.opacity-30{
    opacity: 0.3;
}
.opacity-40{
    opacity: 0.4;
}
.opacity-50{
    opacity: 0.5;
}
.opacity-60{
    opacity: 0.6;
}
.opacity-70{
    opacity: 0.7;
}
.opacity-80{
    opacity: 0.8;
}
.opacity-90{
    opacity: 0.9;
}
.opacity-100{
    opacity: 1;
}
.transparent{
    background-color:transparent;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}


/*
################ Static ################
*/
    .part{
        background-color: #58617E;
        border-color: #58617E;
    }
    .mode{
        background-color: #737A91;
        border-color: #737A91;
    }


/*
################ Responsive ################
*/

/*#########################################*/
/*################ Post It ################*/
/*#########################################*/

@media(max-width:1930px) and (max-height:1210px){

    /*################ Rows ################*/
    .top{
        height: 80px;
        background-color: transparent;
    }
    .middle{
        height:900px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom{
        height: 200px;
        background-color: transparent;
    }
    .display{
        width: 100%;
    }

    /*################ Top ################*/
    .label{
        color: #fff;
        width: 100%;
        line-height: 50px;
        margin-top: 15px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: 0px;
        font-weight: 300;
        font-size: 27px;
        text-align: center;
    }
    .logo{
        width: 65px;
        float : right;
        margin-right: 0px;
        margin-top: 10px;
    }
    /*################ Middle ################*/
    .crop{
        min-height: 300px;
        min-width: 300px;
        max-height: 600px;
        max-width: 1100px;
    }
    .launcher{

    }
     /*################ Bottom ################*/
    .btn{
        width: 200px;
        height: 100%;
    }
    .btn.disabled, .btn:disabled {
        opacity: 0.2;
    }
    .vignette{
        width: 300px;
        height: 180px;
        margin-top: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    /*################ Help ################*/
    .help-texts{
        font-size: 22px;
        color: white;
        text-shadow: #8A8A8A 1px 1px, #8A8A8A -1px 1px, #8A8A8A -1px -1px, #8A8A8A 1px -1px;
    }
    .help-top-texts{
        text-align: center;
    }
    .help-top-arrows, .help-bottom-arrows{
        text-align: center;
        color: white;
        text-shadow: #8A8A8A 1px 1px, #8A8A8A -1px 1px, #8A8A8A -1px -1px, #8A8A8A 1px -1px;
    }
    .help-middle{
        height: 770px;
        color: white;
        align-items: center;
    }
    .help-middle .content{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #A4A4A4;
        width: 1300px;
        height: 390px;
        color: white;
        border: solid 3px #8A8A8A;
        text-align: center;
    }
    .help-middle .content h4{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .help-middle .content ul{
        padding: 0px;
        margin: 0px;
    }
    .help-middle .content ul li{
        line-height: 60px;
        font-weight: lighter;
        font-size: 25px;
        list-style-type: none;
    }
    .help-bottom-texts, .help-bottom-arrows{
        text-align: center;
        color: white;
    }
}

/*#############################################*/
/*################ HP ZDisplay ################*/
/*#############################################*/

@media(min-width:1930px) and (min-height:1210px){
    /*################ Rows ################*/
    .top{
        height: 100px;
        background-color: transparent;
    }
    .middle{
        height:1300px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom{
        height: 300px;
        background-color: transparent;
    }
    .display{
        width: 100%;
    }

    /*################ Top ################*/
    .label{
        color: #fff;
        width: 100%;
        line-height: 70px;
        margin-top: 15px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: 0px;
        font-weight: 300;
        font-size: 27px;
        text-align: center;
    }
    .logo{
        width: 100px;
        float : right;
        margin-right: 0px;
        margin-top: 10px;
    }
    /*################ Middle ################*/
    .crop{
        min-height: 300px;
        min-width: 300px;
        max-height: 1000px;
        max-width: 1000px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        outline: 4px;
        outline-offset: 15px;
    }
    .launcher{

    }
     /*################ Bottom ################*/
    .btn{
        width: 350px;
        height: 100%;
    }
    .btn.disabled, .btn:disabled {
        opacity: 0.2;
    }
    .vignette{
        width: 300px;
        height: 180px;
        margin-top: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    /*################ Help ################*/
    .help-texts{
        font-size: 22px;
        color: white;
        text-shadow: #8A8A8A 1px 1px, #8A8A8A -1px 1px, #8A8A8A -1px -1px, #8A8A8A 1px -1px;
    }
    .help-top-texts{
        text-align: center;
    }
    .help-top-arrows, .help-bottom-arrows{
        text-align: center;
        color: white;
        text-shadow: #8A8A8A 1px 1px, #8A8A8A -1px 1px, #8A8A8A -1px -1px, #8A8A8A 1px -1px;
    }
    .help-middle{
        height: 1200px;
        color: white;
        align-items: center;
    }
    .help-middle .content{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #A4A4A4;
        width: 1300px;
        height: 450px;
        color: white;
        border: solid 3px #8A8A8A;
        text-align: center;
    }
    .help-middle .content h4{
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .help-middle .content ul{
        padding: 0px;
        margin: 0px;
    }
    .help-middle .content ul li{
        line-height: 60px;
        font-weight: lighter;
        font-size: 35px;
        list-style-type: none;
    }
    .help-bottom-texts, .help-bottom-arrows{
        text-align: center;
        color: white;
    }
}
